/*
  colors
  header - #EEE
  form - #F8F8F8
       - #58A4BO
       - #A9BCDO
       - #373F51
*/
body{
    background-color: #373F51;
}

 .form-container, .navbar-headers, .nav-container{
    background-color:#EEE;
}

.form-container {
    text-align: center;
}
.form-group{
    display: inline-block;
}

.random-gen{
    vertical-align: 11px;
}

ul{
	list-style-type:none;
}

.item{
    /*height: 20px;*/
    margin: 10px 0px;
    padding: 8px 0px;
    border-radius: 5px;
    background-color:#EEE;
    border: 1px solid #adadad;
}

li {
    font-size: 20px;
}

a ~ a{
    margin-top: 10px;
}

@media (min-width: 769px){
    .form-container{
        text-align: left;
    }

    .random-gen{
        vertical-align: -14px;
    }
}